.nav {
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: green;
    padding: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav_left{
    flex:  1;

}
.nav_middle{
    color:gray;

    flex:1;
}
.input_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius:25px;
    background-color: white;
 }
 .input_wrapper input {
     width: 100%;
     padding: 0 10px;
     border: none;
     display: block;
 }

.input_wrapper input:focus,
input:active{
     outline: none;
 }
 .nav_rigth{
     flex: 1;

 }
 .cart_icon{
     position: relative;
     width: max-content;
     
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .cart_icon{
     cursor: pointer;
 }
 
 
 .item_count{
     position: absolute;
     display: flex;
     place-items: center;
     background: red;
     z-index: 10;
     border-radius: 50%;
     font-size: 10px;
     height: 14px;
     width: 14px;
     top: -50%;
     right: -50%;
 }
 .fas-fa-search{
     color: black;
 }